# Игнорировать бинарные файлы и директории
bin/
dist/

# Игнорировать файлы окружения
.env

# Игнорировать системные файлы
.DS_Store

# Игнорировать кэш Go
go.sum

# Игнорировать IDE файлы
.idea/
.vscode/